<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>P2P-Lending</h1>
    <h2>Login</h2>
    <form action="login" method="post">
        ID:<input type="text" name="id" placeholder="id"></br></br>
        Password:<input type="password" name="pass" placeholder="password"></br></br>
        <input type="button" value="Submit" name="submit"></br></br>
    </form>
    <form action="login" method="get">
        New User Signup here:
        <input type="button" name="Submit" value="Sign Up">
    </form>
</body>
</html>