<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="signup" method="post">
        Name:<input type="text" name="name"></br>
        E-mail:<input type="email" name="mail"></br>
        Phone No.:<input type="text" name="phone"></br>
        Aadhar No.:<input type="text" name="aadhaar"></br>
        PAN No.:<input type="text" name="pan"></br>
        DOB:<input type="date" name="dob"></br>
        Account No.:<input type="text" name="ac"></br>
        IFSC Code:<input type="text" name="ifsc"></br>
        User ID:<input type="text" name="id"></br>
        Password:<input type="password" name="pass"></br>
        Confirm Password:<input type="password" name="repass"></br>
        Register as: <input type="radio" name="mode" value="lender">Lender
        <input type="radio" name="mode" value="borrower">Borrower</br>
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>